# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Build output
dist/
build/

# TypeScript
*.tsbuildinfo

# Optional npm cache directory
.npm

# IDE specific files
.vscode/
.idea/
